---
const calLink = "https://cal.com/goattech/consultation";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GoatTech Development</title>
    <style>
      body {
        margin: 0;
        padding: 0;
        background-color: black;
        color: white;
        font-family: 'Roboto Mono', monospace;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        flex-direction: column;
      }
      .button {
        margin-top: 20px;
        padding: 10px 20px;
        background-color: white;
        color: black;
        font-size: 16px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        text-decoration: none;
      }
      .button:hover {
        background-color: gray;
      }
    </style>
  </head>
  <body>
    <h1 style="font-size: 3rem; margin-bottom: 0.5rem;">goattech development</h1>
    <em>simple software solutions.</em>
    <a href={calLink} class="button">connect</a>
  </body>
</html>
